body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: fixed no-repeat url('/src-jogo-da-memoria/images/background.jpg');
  background-size: cover;
  user-select: none;
  background-color: #000;
}

.container {
  position: relative;
  display: flex;
  border-radius: 20px;
  box-shadow: 0px 0px 50px #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(222, 0, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 40px 60px;
}

h2 {
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.reset {
  padding: 15px 15px;
  width: 100%;
  color: #000;
  background-color: #fff;
  border: none;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}

.reset:focus {
  color: #ec38bc;
  background-color: #262809;
}

.game {
  width: 430px;
  height: 430px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  font-size: 3em;
  transform: rotateY(180deg);
  transition: 0.25s;
}

.item::after {
  content: '';
  position: absolute;
  inset: 0;
  background: url('/src-jogo-da-memoria/images/logo.png');
  object-fit: fill;
  transition: 0.25s;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transform: scaleX(-1);
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.boxOpen::after,
.boxMatch::after {
  transform: rotateY(180deg);
}
